## Build results
bin/
obj/
out/

## Rider & VS Code
.idea/
.vscode/

## Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

## ASP.NET Scaffolding
ScaffoldingReadMe.txt

## DotCover
*.dotCover

## NUnit
*.VisualState.xml
TestResult.xml
TestResult*.xml
nunit-*.xml

## Build logs
*.log

## Resharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

## Local History
.localhistory/

## JetBrains
*.sln.iml

## Others
*.dbmdl
*.pdb
*.cache
*.config
*.bak
*.tmp

# Ignore everything in the packages folder
**/packages/*
!**/packages/build/
!**/packages/repositories.config

# Uncomment if you have tasks that create the project's static files in wwwroot
#wwwroot/

# Optional: ignore test results
TestResults/

# Optional: ignore coverage reports
coverage/
